extends layout.pug

block content

  article.portfolio-intro

    h1 Peak Performance Portfolio

    p This portfolio will highlight some of the projects I created for the "Fullstack Javascript" Techdegree program.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href='/project/' + project.id)
            img.thumbnail(src=project.image_urls[0], alt=project.project_name)
            h5= project.project_name

